.App {
  display: flex;
  flex-direction: row;
  margin: 2rem;
  width: 100%;
  height: 100%;
}


.sidebar{
  /* width: 25%; */
  display: flex;
  width: 280px;
  /* height: 840px; */
  
  padding: 1rem;
  /* justify-content: left;
  align-items: start; */
  background: #000000;
  border-radius: 30px;

}

.subcont{
  margin-top: 1rem;
  margin-left: 2rem;
}

.board{
  margin-top: 2rem;
  /* margin-left: 1rem; */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  text-align: left;
  margin-bottom: 2rem;
/* identical to box height */


  color: #FFFFFF;
}

.content{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* margin-left: 2rem; */
  margin-top: 3rem;
  /* padding: 2rem; */
}

.context{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 2rem;
/* identical to box height */


  color: #FFFFFF;
}

.icons{
  margin-right: 1rem;
}

.botsubcont{
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-top: 25rem;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
/* identical to box height */
  color: #FFFFFF;
  top: 0;
}

.help{
  margin-bottom: 0.5rem;
}


.subheader{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dashright{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.searchbox{
  display: flex;
  flex-direction: row;
  width: 180px;
  height: 30px;
  background: #FFFFFF;
  border-radius: 10px;
  justify-content: space-between;
  padding: 0rem 0.5rem 0 0.5rem;
}

.search{
  
  font-family: 'Lato'; 
  font-style: normal; 
  font-weight: 400;
  font-size: 14px; 
  /* line-height: 17px; */
  color: #B0B0B0;
}

.dashleft{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;

  color: #000000;

}

input{
  border: none;
}


.belldp{
  display: flex;
  height: 20px;
  /* flex-direction: row; */
  justify-content: space-between;
  margin-left: 2rem;
  /* padding: 0rem 0.5rem 0 0.5rem; */
  align-items: center;
}

.dp{
  border-radius: 30px;
  margin-left: 2rem;
  height: 30px;
}

.cards{
  width: 200px;
  background: #DDEFE0;
  border-radius: 20px;
  padding: 1.25rem;
  justify-content: space-between;
}

.cards2{
  width: 200px;
  background: #F4ECDD;
  border-radius: 20px;
  padding: 1.25rem;
  justify-content: space-between;
}

.cards3{
  width: 200px;
  background: #EFDADA;
  border-radius: 20px;
  padding: 1.25rem;
  justify-content: space-between;
}

.cards4{
  width: 200px;
  background: #DEE0EF;
  border-radius: 20px;
  padding: 1.25rem;
  justify-content: space-between;
}

.rights{
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-left: 3rem;
  margin-top: 1rem;
}

.revicon{
  text-align: right;
}

.cardcont{
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
/* identical to box height */
  color: #000000;
}

.cardvalues{
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
/* identical to box height */
  color: #000000;
}

.schedule{
  background: #FFFFFF;
  border-radius: 20px;
  width: 450px;
  padding: 2rem;
  margin-left: 2rem;
}

.uppertext{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.line{
  border-left: 5px solid #9BDD7C;
  padding: 0.5rem;
}

.line2{
  border-left: 5px solid #6972C3;
  padding: 0.5rem;
}

.pie{
  background: #FFFFFF;
  border-radius: 20px;
  width: 450px;
  padding: 2rem;
}

.bottomright{
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
}

.labelpie{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.pieimg{
  width: 145px;
  height: 145px;
}

.pietext{
  display: flex;
  flex-direction: row;
  height: 145px;
  margin-top: 1rem;
  padding: 1rem;
}

.labeltext{
  display: flex;
  flex-direction: column;
  margin-left: 5rem;
  margin-bottom: 1.5rem;
}

.products{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
/* identical to box height */
  color: #000000;
}

.months{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
/* identical to box height */
  color: #858585;
  display: flex;
}

.labelt{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
/* identical to box height */
  color: #000000;
  margin-left: 0.5rem;
}

.labelp{
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #858585;
  margin-top: 0.25rem;
  margin-left: 0.5rem;
}

.schdetail{
  margin-top: 1rem;
}

.schtitle{
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
/* identical to box height */
  color: #666666;
  
}

.schtime{
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
/* icon */
  color: #999999;
  margin-top: 0.5rem;
}

.linegraph{
  background: #FFFFFF;
  border-radius: 20px;
  width: 1000px;
  /* height: 350px; */
  padding: 2rem;
  margin-top: 2rem;
}

.lgdetails{
  display: flex;
  justify-content: space-between;
  margin-right: 3rem;
  margin-top: 0.5rem;
}

.labellg{
  display: flex;
}

.userlg{
  margin-left: 0.5rem;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.guestlg{
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-left: 0.5rem;
}

.lgstyle{
  /* width: 100%; */
  /* height: 19px; */
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
}

.signin{
  display: flex;
  height: 100vh;;
}

.container1{
  width: 30vw;
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container2{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70vw;
}

.heading{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 72px;
line-height: 88px;
/* identical to box height */
color: #FFFFFF;
}

.signInBox{
  display: flex;
  background-color: #FFFFFF;
  padding: 0.5rem;
  border-radius: 10px;
  width: 180px;
  height: 20px;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
}

.signInText{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;
color: #858585;

}

.box{
  width:390px;
  background-color:#ffffff;
  padding:2rem;
  border-radius: 20px;
}

.labelltext{
  font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 32px;
color: #000000;
}

.inputField{
  background: #F5F5F5;
border-radius: 10px;
border:none;
height: 2.5rem;
width: 100%;
}

.pass{
  font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
color: #346BD5;
cursor: pointer;
}

.btn{
  height: 2.5rem;
width: 100%;
  background: #000000;
border-radius: 10px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 20px;
text-align: center;
color: #FFFFFF;
margin-top: 1.5rem;
}

.cont2heading{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 44px;
color: #000000;
}

.cont2text{
  font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
color: #000000;
}

.normaltext{
  font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: center;
color: #858585;
margin-top: 1rem;;
}